
.starter-template {
    padding: 3rem 1.5rem;
    /*text-align: center;*/
}
body {
    margin: 0;
    padding: 0;

}
/*.background-home {*/
    /*background: #FFFFFF;*/
    /*background-image: url('/images/WOU.png');*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: 50% calc(50% + 300px);*/

/*}*/
.home-body{
    text-align:center;
}
.nav ul {
    list-style: none;
    background-color: #A60800;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #C24136;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 150px;
        border-right: 1px solid black;
        border-top:none;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }
    .nav li:first-child{
        border-left:1px solid black;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}
table{
    align:left;
}
table th, table td{
  align:left;
  padding-left:20px;
}
.email-calendar-button{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
table img{
    max-width: 100px;
}